<div id="prueba" class="container mt-3">
    <div class="jumbotron">
        <h1 style="color: blue;">Centro de mensajes</h1>
        <br>
        <form onsubmit= "return addMessage(this)">
        <label for="email"><b>Email</b></label>
        <input id="email" class="form-control" type="email" name="email" placeholder="example@gmail.com" required />
        <hr>

        <div id="mensajes"></div>
        <br>
        
            <input type="text" id="text" placeholder="Ingrese un mensaje...">
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>